.App {
    font-family: sans-serif;
    text-align: center;
}

body {
  margin: 0;
}

.container {
  position: relative;
}

#clip {
  position: absolute;
  clip: rect(0, 100px, 200px, 0);
}